@import url("../../css/style.css");
.clear{
	clear: both;
}
.content{
	width: 990px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 18px;
	color: #424242;
}
.content-title h1{
	margin-top: 29px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'pf_beausans_proregular', sans-serif;
}
.content-title{
	margin-top: 7px;
}
.content-menu a{
	color: #767676;
}
.content-menu{
	padding-left: 0;
}
.content-menu li{
	display: inline-block;
	color: #3e3e3e;
	font-family: Arial, sans-serif;
}
.content-menu li:after{
	content: "/";
	display: inline-block;
	padding: 0 3px 0 6px;
}
.content-menu li:last-child:after{
	content: "";
	display: block;
}
.top-content{
	margin-top: 29px;
}
.print-contact{
	text-align: right;
	font-family: arial, sans-serif;
	font-size: 14px;
	margin-top: -14px;
}
.print-contact button{
	border: none;
	background: none;
	outline: none;
	text-decoration: underline;
	color: #ee2e24;
	font-family: arial, sans-serif;
	line-height: 15px;
	padding: 0;
	font-size: 14px;
	margin: 0;
	letter-spacing: -0.02em;
}
.print-contact button:before{
	content: "";
	display: block;
	float: left;
	background: url(../../images/print.png) no-repeat;
	width: 17px;
	height: 15px;
	margin-right: 7px;
}
.print-contact button:hover{
	text-decoration: none;
}
.maps{
	margin-top: 33px;
}
.maps img{
	float: left;
}
.maps img:first-child{
	margin-right: 35px;
}
.left-blocks-drive{
	float: left;
	width: 477px;
	font-family: arial, sans-serif;
	margin-top: 52px;
}
.right-blocks-drive{
	float: right;
	width: 477px;
	font-family: arial, sans-serif;
	margin-top: 52px;
}
.block-drive{
	margin-bottom: 32px;
}
.title-drive{
	font-family: 'pf_beausans_prolight', sans-serif;
	font-size: 18px;
	line-height: 25px;
}
.title-drive p{
	display: inline-block;
	font-size: 12px;
	font-family: arial, sans-serif;
}
.desc-drive{
	margin-top: 5px;
	margin-bottom: 17px;
}
.car-drive{
	background: url(../../images/icoDrive.png) no-repeat 0 0;
	width: 23px;
	height: 19px;
}
.wrap-img-drive{
	float: left;
	width: 31px;
}
.parking-drive{
	background: url(../../images/icoDrive.png) no-repeat -50px 0px;
	width: 20px;
	height: 19px;
}
.public-transport-drive{
	background: url(../../images/icoDrive.png) no-repeat -27px 0;
	width: 21px;
	height: 22px;
}
.time-transport-drive{
	background: url(../../images/icoDrive.png) no-repeat -72px 0;
	width: 20px;
	height: 20px;
}
.get-directions{
	text-align: right;
}
.get-directions button{
	border: none;
	background: none;
	outline: none;
	text-decoration: underline;
	font-family: arial, sans-serif;
	line-height: 20px;
	color: #ff6609;
}
.get-directions{
	margin-top: 32px;
}
.get-directions button{
	font-size: 14px;
	padding: 0;
}
.get-directions button:hover{
	text-decoration: none;
}
.get-directions button:before{
	content: "";
	display: block;
	float: left;
	background: url(../../images/getDirections.png) no-repeat;
	width: 20px;
	height: 21px;
	margin-right: 3px;
}
.border-width-contact{
	background: url(../../images/border-width.png) repeat-x;
	width: 100%;
	margin-top: 25px;
	height: 1px;
}
/* maps */
#map{
	margin-top: 8px;
	margin-bottom: 66px;
}
.ymaps-copyright-legend-container{
	display: none;
}
.ymaps-copyrights-logo{
	display: none;
}